<!-- <div class="docs-primary-header component-page-header" style="display: flex; justify-content: space-between;">
  <h1>Find a job</h1>
</div> -->



<form [formGroup]="findJobForm" (submit)='submitForm();' *ngIf="(findJobState$ | async) as store">
  <!-- <div *ngIf="(cities$ | async) as store">
    <h6 *ngFor="let data of store['cities']">
      {{data['name']}} : {{data['distance']}}
    </h6>
  </div> -->

  <mat-card class="destination-card">
    <mat-form-field>
      <mat-select placeholder="Choose Destination one" formControlName="firstSelectedDesination">
        <mat-option *ngFor="let item of store['cities'] | filterCities : [ findJobForm.get('secondSelectedDesination').value, 
          findJobForm.get('thirdSelectedDesination').value, findJobForm.get('fourthSelectedDesination').value ]" [value]="item">
          {{item.name}} ({{item.distance}} km)
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group *ngIf="findJobForm.get('firstSelectedDesination').value" class="example-radio-group" formControlName="firstDestinationVehicle">
      <mat-radio-button [disabled]="findJobForm.get('firstSelectedDesination').value.distance > item.total_no * item.max_distance ? true : item.isDisabled"
        class="example-radio-button" 
        *ngFor="let item of store['vehicles'] | enableDisableVehiclePipe : findJobForm.get('firstDestinationVehicle').value : findJobForm.get('firstSelectedDesination').value : findJobForm"
        [value]="item">
        {{item.total_no}} {{item.name}} ({{item.max_distance}}km) ({{item.speed}}km/hr)
      </mat-radio-button>
    </mat-radio-group>

  </mat-card>

  <mat-card class="destination-card">
    <mat-form-field>
      <mat-select placeholder="Choose Destination two" formControlName="secondSelectedDesination">
        <mat-option *ngFor="let item of store['cities']  | filterCities : [ findJobForm.get('firstSelectedDesination').value, 
        findJobForm.get('thirdSelectedDesination').value, findJobForm.get('fourthSelectedDesination').value ]" [value]="item">
          {{item.name}} ({{item.distance}} km)
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group *ngIf="findJobForm.get('secondSelectedDesination').value" class="example-radio-group" formControlName="secondDestinationVehicle">
      <mat-radio-button [disabled]="findJobForm.get('secondSelectedDesination').value.distance > item.total_no * item.max_distance ? true : item.isDisabled"
        class="example-radio-button"  *ngFor="let item of store['vehicles'] | enableDisableVehiclePipe :findJobForm.get('secondDestinationVehicle').value : findJobForm.get('secondSelectedDesination').value : findJobForm"
        [value]="item">
        {{item.total_no}} {{item.name}} ({{item.max_distance}}km) ({{item.speed}}km/hr)
      </mat-radio-button>
    </mat-radio-group>

  </mat-card>

  <mat-card class="destination-card">
    <mat-form-field>
      <mat-select placeholder="Choose Destination third" formControlName="thirdSelectedDesination">
        <mat-option *ngFor="let item of store['cities'] | filterCities : [ findJobForm.get('secondSelectedDesination').value, 
        findJobForm.get('firstSelectedDesination').value, findJobForm.get('fourthSelectedDesination').value ]" [value]="item">
          {{item.name}} ({{item.distance}} km)
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group *ngIf="findJobForm.get('thirdSelectedDesination').value" class="example-radio-group" formControlName="thirdDestinationVehicle">
      <mat-radio-button [disabled]="findJobForm.get('thirdSelectedDesination').value.distance > item.total_no * item.max_distance ? true : item.isDisabled"
        class="example-radio-button" (click)='selectVehicle(item.name)' *ngFor="let item of store['vehicles']" [value]="item">
        {{item.total_no}} {{item.name}} ({{item.max_distance}}km) ({{item.speed}}km/hr)
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>

  <mat-card class="destination-card">
    <mat-form-field>
      <mat-select placeholder="Choose Destination fourth" formControlName="fourthSelectedDesination">
        <mat-option *ngFor="let item of store['cities'] | filterCities : [ findJobForm.get('secondSelectedDesination').value, 
        findJobForm.get('firstSelectedDesination').value, findJobForm.get('thirdSelectedDesination').value ]" [value]="item">
          {{item.name}} ({{item.distance}} km)
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group *ngIf="findJobForm.get('fourthSelectedDesination').value" class="example-radio-group" formControlName="fourthDestinationVehicle">
      <mat-radio-button [disabled]="findJobForm.get('fourthSelectedDesination').value.distance > item.total_no * item.max_distance ? true : item.isDisabled"
        class="example-radio-button" (click)='selectVehicle(item.name)' *ngFor="let item of store['vehicles']" [value]="item">
        {{item.total_no}} {{item.name}} ({{item.max_distance}}km) ({{item.speed}}km/hr)
      </mat-radio-button>
    </mat-radio-group>

  </mat-card>

  <mat-card style="display:block; text-align: center; margin-top:50px">
    <p *ngIf="timeSpentOnTravel">
      Time spent on travel : {{timeSpentOnTravel}}
    </p>
    <div>
      <button mat-raised-button color='primary'>Find a Job</button>
    </div>
  </mat-card>

</form>
