<a class="docs-component-category-list-item ng-star-inserted" href="movie-search">
  <mat-card class="docs-component-category-list-card mat-card">
    <mat-card-title class="mat-card-title">Movie search</mat-card-title>
  </mat-card>
</a>
<a class="docs-component-category-list-item ng-star-inserted" href="find-job">
  <mat-card class="docs-component-category-list-card mat-card">
    <mat-card-title class="mat-card-title">Find Job</mat-card-title>
  </mat-card>
</a>
<a class="docs-component-category-list-item ng-star-inserted" href="dynamic-progress-bar">
    <mat-card class="docs-component-category-list-card mat-card">
      <mat-card-title class="mat-card-title">Dynamic progress bar</mat-card-title>
    </mat-card>
  </a>
